.banner-image{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}
.slider-1{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./images/slider-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px; 
}
.slider-2{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./images/slider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 350px;
}
.slider-3{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./images/slider-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 350px;
}